.container{
    background-color:#F0D6E6;
    padding:16px;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-family:Helvetica;
    color:#404a43;
    border-radius: 8px;
}


.container input{
    border: solid 1px #C6007D;
    padding: 8px;
    width: 100%;
    height: 200px;
    margin: 10px;
}

.buttonNew{
    border:none;
    border-radius:15px;
    background-color:#C6007D;
    padding:8px 16px;
    color:#7BDA97;
    font-weight:bold;
    font-size:1em;
    cursor:pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.buttonNew:hover{
    background-color:#CD168A;
}

.buttonContainer{
    align-self:end;
    margin:12px 0;
}

@media(width>600px){
    .container input{
        width: 400px;
        height: 100px;
    }  
}